<nav class="navbar">
    <div class="container">
      <ul class="menu">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li><a href="#!/view1">view1</a></li>
        <li><a href="#!/view2">view2</a></li>
        <li>Help</li>
      </ul>
    </div>
</nav>
